
body{
	font-family:'Montserrat';
	margin: 0;
	padding: 0;
	border: none;
	font-size: 14pt;
	font-weight: 200;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #f0f;
}

p {
	padding: 0;
	margin: 0;
}

ul {
	-webkit-padding-start: 0px;
	margin: 0;
}

#navegacao {
	position: fixed;	
    width: 100%;
	height: 100%;
	z-index: 10;
}

#menu_lateral {
	box-sizing: border-box;
	width: 12%;
	min-width: 240px;
	height: 100%;
	padding: 32px;
	background-color: #6453a2;
	overflow: hidden;
	float: left;
}

	#menu_lateral #logo {
		padding: 50px 0 82px 0;
	}


		#menu_lateral ul li a {
			color: #FFF;
			-webkit-transition: font-weight 0.5s ease;
		}

		#menu_lateral ul li a:hover,
		#menu_superior .menu_ajuda .label:hover,
		#menu_superior .menu_usuario  #informacoes_usuario:hover,
		#submenu_notificacoes a:hover,
		#submenu_ajuda a:hover,
		#submenu_usuario a:hover {
			font-weight: 700;
		}

		#menu_lateral ul li p {
			margin: 0 0 50px 0;
		}

	#navegacao ul img {
		float: left;
	}

	#menu_colab img,
	#menu_admin img {
		width: 22px;
		height: 24px;
		padding: 0 15px 0 0;
	}

#menu_superior {
	box-sizing: border-box;
	height: 100px;
	padding: 38px 32px 0 32px;
	background-color: #fff;
	color: #988cc2;
	box-shadow: 3px 4px 25px 0px #eee;	
    text-align: center;
}
	#menu_superior ul {
		float: right;
	}

		#menu_superior ul li{
			padding: 0 15px;
			float: left;
		}

		#menu_superior ul li:last-child{
			padding: 0;
		}

		#menu_superior #area_empresa {
		    float: left;
		    margin-left: 32px;
		    margin-top: -7px;
		    text-align: left;
		    color: #4d4c4c;
		}

		#menu_superior #area_empresa span {
			font-size: 12pt;
		}

		#menu_superior #area_empresa p {
			font-size: 14pt;
			font-weight: 700;
		}

		#menu_superior ul #botao a {
			margin-top: 10px;
			background-color: #988cc2;
			border-radius: 5px;
			padding: 15px;
    		color: #fff;
			-webkit-transition: background-color 0.5s ease;
		}

		#menu_superior ul #botao a:hover {
			background-color: #6453a2;
		}

		#menu_superior img {
		    width: 32px;
		    height: 40px;
		    margin-top: -5px;
		}

		#menu_superior .menu_ajuda,
		#menu_superior .menu_usuario,
		#menu_superior #notificacoes {
			cursor: pointer;
		}

		#menu_superior .menu_ajuda  .label,
		#menu_superior .menu_usuario  .label {
			float:left;
			-webkit-transition: font-weight 0.5s ease;
		}

		#menu_superior .menu_ajuda .label { width: 53px; }

		#menu_superior .menu_ajuda img {
			width: 20px;
			padding-left: 6px;
		}
		
		#menu_superior #notificacoes #not_cont {
			position: absolute;
		    width: 22px;
		    height: 21px;
		    margin: -13px 14px;
		    background-color: #988cc2;
		    border: 3px solid #fff;
		    border-radius: 100%;
		    text-align: center;
		    color: #fff;
		    font-size: 11pt;
    		line-height: 17pt;
		}

		#submenu_notificacoes,
		#submenu_ajuda,
		#submenu_usuario {
			display: none;
		    position: absolute;
		    box-sizing: border-box;
		    padding: 20px;
		    background-color: #f0f0f7;
		    font-size: 12pt;
			margin-left: 10px;
		    top: 75px;
		    cursor: auto;
		}

			#submenu_notificacoes { width: 375px; }
			#submenu_ajuda { width: 135px; }
			#submenu_usuario { width: 150px; }
				
		#submenu_notificacoes .item_notificacoes img{
		    width: 40px;
    		height: 45px;
   			margin-right: 10px;
   			float: left;
		}

		#submenu_notificacoes .item_notificacoes p {
		    float: right;
			width: 85%;
		}

			#submenu_notificacoes .item_notificacoes .data {
	    		margin-bottom: 15px;
	    		color: #a3a3a3;
			}

		#submenu_notificacoes a{
			margin: 20px;
    		color: #6453a2;
			-webkit-transition: font-weight 0.5s ease;
		}

	
	#submenu_ajuda a,
	#submenu_usuario a {
    	color: #4d4c4c;
		-webkit-transition: font-weight 0.5s ease;
	}
	
	#submenu_ajuda #linha,
	#submenu_usuario #linha,
	#submenu_notificacoes #linha {
	    position: absolute;
	    top: -3%;
	    left: 3%;
	    height: 108%;
	    width: 3px;
	    background-color: #988cc2;
	    color: #988cc2;
	}


	#submenu_notificacoes #linha {
	    top: -1%;
	    height: 102%;
	}

	#submenu_ajuda li,
	#submenu_usuario li{
		margin-bottom: 10px;
	}

	#submenu_ajuda li:last-child,
	#submenu_usuario li:last-child{
		margin-bottom: 0px;
	}


	#menu_superior #submenu_notificacoes li,
	#menu_superior #submenu_ajuda li,
	#menu_superior #submenu_usuario li {
		padding: 0px 0px;
		text-align: left;
		display: list-item;
		clear: both;
	}

	.menu_usuario #foto {
	    width: 70px;
	    height: 70px;
	    margin-top: -30px;
	    background-size: 100%;
	    margin-left: 15px;
	    background-position: center;
	    border-radius: 100%;
	    border: 4px solid #988cc2;
	}

	#submenus_overlay{
		display: none;
		position: absolute;
		top: 0%;
		left: 0%;
		width: 100%;
		height: 100%;
		background-color: none;
		-moz-opacity: 0;
		opacity: 0;
		filter: alpha(opacity=0);
		z-index: -1;
	}